name: 'Drink water alert'
on:
  schedule:
    - cron:  '30 7 * * *'  # 15:30 am UTC+8
  watch:
    types: [started]
jobs:
  job1:
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout'
        uses: actions/checkout@v2
      - name: 'Set up Python'
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Send drink water alert
        id: step_one
        env:
          send_key: ${{ secrets.SEND_KEY }}
          send_url: ${{ secrets.SEND_URL }}
        run: |
          python drink_water.py
          echo 'job complete!'
