name: 'Send next holiday information'
on:
  schedule:
    - cron:  '30 0 * * *'  # 08:30 am UTC+8
  watch:
    types: [started]
jobs:
  job1:
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout'
        uses: actions/checkout@v2
      - name: 'Set up Python'
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'
       - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r next_holiday.deps
      - name: Send next holiday info
        id: step_one
        env:
          send_key: ${{ secrets.SEND_KEY }}
          send_api: ${{ secrets.SEND_URL }}
        run: |
          python next_holiday.py
          echo 'job complete!'

